<label class="text-muted"
       *ngIf="password">
  <span [class.text-success]="password.value && !password.errors?.capitalLetter">Capital letter</span>,
  <span [class.text-success]="password.value && !password.errors?.lowerLetter">Lower letter</span>,
  <span [class.text-success]="password.value?.length > 0 && !password.errors?.minlength">Min. 8 characters</span>
</label>
