<svg class="loading-svg"
     version="1.1"
     id="L4"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     x="0px"
     y="0px"
     viewBox="0 0 58 58"
     enable-background="new 0 0 0 0"
     xml:space="preserve">
  <circle fill="#fff"
          stroke="none"
          cx="10"
          cy="29"
          r="6">
    <animate attributeName="opacity"
             dur="1s"
             values="0;1;0"
             repeatCount="indefinite"
             begin="0.1"></animate>
  </circle>
  <circle fill="#fff"
          stroke="none"
          cx="29"
          cy="29"
          r="6">
    <animate attributeName="opacity"
             dur="1s"
             values="0;1;0"
             repeatCount="indefinite"
             begin="0.2"></animate>
  </circle>
  <circle fill="#fff"
          stroke="none"
          cx="48"
          cy="29"
          r="6">
    <animate attributeName="opacity"
             dur="1s"
             values="0;1;0"
             repeatCount="indefinite"
             begin="0.3"></animate>
  </circle>
</svg>
