<div class="feedback-wrapper d-block"
     [class.position-absolute]="tooltip"
     [class.invalid-feedback]="!tooltip"
     [class.invalid-tooltip]="tooltip"
     *ngIf="control.invalid && (control.dirty || control.touched)"
     [@slideInOut]>
  <ng-container [ngSwitch]="control.errors | firstKey">
    <span *ngSwitchCase="'required'">
      This field is required
    </span>
    <span *ngSwitchCase="'email'">
      Email is not valid
    </span>
    <ng-container *ngSwitchCase="'minlength'">
      The required length is {{ (control.errors | first)?.minlength?.requiredLength }}
    </ng-container>
    <span *ngSwitchCase="'capitalLetter'">
      Should contain a capital letter
    </span>
    <ng-container *ngSwitchCase="'lowerLetter'">
      Should contain a lower letter
    </ng-container>
  </ng-container>
</div>
