:host {
  button {
    position: relative;
  }

  .loading {
    >.content {
      opacity: 0;
    }
  }


  .dots {
    display: flex;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;

    ::ng-deep {
      app-svg-loading-dots {
        display: flex;
        width: 34px;
        height: 34px;
      }

      svg {
        width: 34px;
        height: 34px;
      }
    }
  }

  .btn-secondary {
    ::ng-deep {
      .loading-svg {
        fill: black;

        circle {
          fill: black;
        }
      }
    }
  }

  .btn-sm {
    .dots {
      width: 24px;
      height: 24px;

      ::ng-deep {
        app-svg-loading-dots {
          display: flex;
          width: 24px;
          height: 24px;
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
