<button type="{{ btnType }}"
        class="btn btn-{{ btnClass }}"
        (click)="click($event)"
        [attr.id]="btnId"
        [class.loading]="loading"
        [disabled]="disabled"
        #button>
  <div class="d-flex align-items-center justify-content-center content">
    <ng-content></ng-content>
  </div>
  <div class="dots"
       *ngIf="loading">
    <app-svg-loading-dots></app-svg-loading-dots>
  </div>
</button>
