<div class="card mx-auto d-flex flex-row">
  <div class="card-body p-4 p-lg-5">
    <div class="alert alert-danger"
         *ngIf="error">
      {{ error }}
    </div>
    <h1 class="h4 mb-4">Register</h1>
    <form [formGroup]="form"
          (ngSubmit)="submit(form)"
          class="form"
          novalidate>
      <div class="row mb-3">
        <div class="col-6">
          <div class="form-group mb-0">
            <label>Firstname</label>
            <app-custom-input [control]="firstName"
                              customClass="form-control-lg"
                              customType="text"
                              customId="firstName"
                              customPlaceholder="Firstname"></app-custom-input>
            <app-show-error [control]="firstName"></app-show-error>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mb-0">
            <label>Lastname</label>
            <app-custom-input [control]="lastName"
                              customClass="form-control-lg"
                              customType="text"
                              customId="lastName"
                              customPlaceholder="Lastname"></app-custom-input>
            <app-show-error [control]="lastName"></app-show-error>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <app-custom-input [control]="email"
                          customClass="form-control-lg"
                          customType="text"
                          customId="email"
                          customPlaceholder="Email"></app-custom-input>
        <app-show-error [control]="email"></app-show-error>
      </div>
      <div class="form-group">
        <label>Password</label>
        <app-custom-input [control]="password"
                          customClass="form-control-lg"
                          customType="password"
                          customId="password"
                          customPlaceholder="Password"></app-custom-input>
        <app-show-error [control]="password"></app-show-error>
      </div>
      <app-password-strength [password]="password"></app-password-strength>
      <app-btn btnClass="primary btn-lg w-100 justify-content-center"
               btnType="submit"
               btnId="submitBtn"
               [disabled]="form.disabled"
               [loading]="form.disabled">
        Register
      </app-btn>
    </form>
  </div>
</div>
